body {
  font-family: sans-serif;
}

#application-canvas {

}

.application-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start
}

.main-panel {
  flex-grow: 1;
  flex-basis: 5rem
}

.ui-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.ui-element {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 2rem;
}
