body {
  font-family: sans-serif;
}

#application-canvas {
  border: thin black solid;
}

.application-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start
}

.main-panel {
  flex-grow: 1;
  flex-basis: 5rem
}
